{{#if list.isNew}}
  {{input placeholder="Title" classNames="list-title-input" value=list.title}}
  <br>
  <button {{action "save"}}>Save</button>
  <a class="cancel" href="#" {{action "cancel"}}>cancel</a>
{{else}}
  <h2>{{list.title}}</h2>
  <ul>
    {{#each list.cards as |card|}}
      {{tt-card card=card}}
    {{/each}}
  </ul>
  <a href="#" {{action 'addCard'}}>Add a card</a>
{{/if}}

