{{#if list.isNew}}
  {{input value=list.title}}
  <button {{action "save"}}>Save</button>
{{else}}
  <h2>{{list.title}}</h2>
  <ul>
    {{#each list.cards as |card|}}
      {{tt-card card=card}}
    {{/each}}
  </ul>
  <a href="#" {{action 'addCard'}}>Add a card</a>
{{/if}}

