{{#if list.isNew}}
  {{input placeholder="Title" classNameBindings=":list-title-input list.invalid:invalid" value=list.title}}
  <br>
  <button class="save-btn" {{action "save"}}>Save</button>
  <a class="cancel" href="#" {{action "cancel"}}>cancel</a>
{{else}}
  <h2>{{list.title}}</h2>
  <ul>
    {{#each list.cards as |card|}}
      {{tt-card card=card onDelete=(action 'deleteCard') onUpdate=(action 'updateCard')}}
    {{/each}}
  </ul>
  <a href="#" {{action 'addCard'}}>Add a card</a>
{{/if}}

