{{#modal-dialog close="close"  targetAttachment="center"}}
  <a href="#" {{action "close"}}>X</a>
  <h3>
    {{#if card.isNew}}
      Add
    {{else}}
      Edit
    {{/if}}
    Card
  </h3>
  <label>Title</label>
  {{input value=card.title}}
  <br>
  <label>Description</label>
  {{textarea value=card.description}}
  <br>
  <button {{action "save"}}>Save</button>
{{/modal-dialog}}
