{{#if shouldShowEditModal}}
  {{#modal-dialog close="hideEditModal"
                  targetAttachment="center"
                  translucentOverlay="true"}}
    <a class="close-btn" href="#" {{action "hideEditModal"}}>X</a>
    <h3>
      {{#if card.isNew}}
        Add
      {{else}}
        Edit
      {{/if}}
      Card
    </h3>
    <label>Title</label>
    {{input value=card.title}}
    <br>
    <label>Description</label>
    {{textarea value=card.description}}
    <br>
    <button {{action "save"}}>Save</button>
  {{/modal-dialog}}
{{/if}}

{{#if isConfirmingDelete}}
  {{#modal-dialog close="cancelDelete"
                  targetAttachment="center"
                  translucentOverlay="true"
                  clickOutsideToClose="false"}}
    Are you sure?<br>
    <button {{action "confirmDelete"}}>Yes</button>
    <button {{action "cancelDelete"}}>No</button>
  {{/modal-dialog}}
{{/if}}

{{#unless card.isNew}}
  <li>
    <a href="#" {{action "edit"}}>{{card.title}}</a>
    <a href="#" {{action "delete"}}>X</a>
  </li>
{{/unless}}
