{{#if isEditing}}
  {{edit-card card=card
              update=(action "cardUpdated")
              close=(action "hideEditModal")
              delete=(action "cardDeleted")}}
{{/if}}

{{#if card.isNew}}
  {{input placeholder="Title" classNameBindings=":card-title-inline-input card.invalid:invalid" value=card.title}}
  <br>
  <button class="save-btn" {{action "save"}}>Save</button>
  <a href="#" {{action "cancelCreate"}} class="cancel">cancel</a>
{{else}}
  <a href="#" {{action "edit"}}>{{card.title}}</a>
{{/if}}
