{{#if isEditing}}
  {{edit-card title=(get card "title")
              description=(get card "description")
              update=(action "cardUpdated")
              close=(action "hideEditModal")
              delete=(action "cardDeleted")}}
{{/if}}

{{#if card.isNew}}
  {{input placeholder="Title" classNames="card-title-inline-input" value=card.title}}
  <br>
  <button {{action "save"}}>Save</button>
  <a href="#" {{action "cancelCreate"}} class="cancel">cancel</a>
{{else}}
  <a href="#" {{action "edit"}}>{{card.title}}</a>
{{/if}}
